body {
	background-image: url(imags.jpg)
}

body {
	font-family: 'Oswald', sans-serif;
	color: #FFFFFF;
}
#name {
	
	text-align: center;grid-row: 

}
#intro 

{

#aboutme {grid-column:2; 
grid-row; 
}

#uno {

}

#dos {
